/* style sheet */

body{
  background-color:#aaf;
}
.contents div{
  padding:5px;
  margin:2px;
  font-size:0.8em;
  background-color:#eef;
  width:45%;
  float:left;
}
.contents div span{
  padding-right:20px;
}

.tar{
  text-align:right;
}

button{
  padding:10px;
  border:solid 1px;
  background-color:#faa;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.tac{
  text-align:center;
}
.pad10{
  padding:10px;
}
